body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Fondo del encabezado */
.hero-bg {
    background-color: #1e2d3d; /* azul oscuro */
    padding: 40px 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Contenedor principal del header */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Título */
.logo h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

/* Menú */
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
}

/* Botón de volver */
.menu-btn {
    display: inline-block;
    background-color: #2c3e50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s;
}

.menu-btn i {
    margin-right: 8px;
}

.menu-btn:hover {
    background-color: #34495e;
}


header {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}

.graficos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 30px;
}

.grafico-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 400px;
}

h2 {
    text-align: center;
    color: #003366;
}
